@model ScrewIt.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Order Details";
}

@*<style>
    *{
        color:white;
    }
</style>*@

<a type="button" class="btn btn-danger btn-lg p-1 col-md-3 offset-md-2 mb-3" href="/Orders/ManageOverview" >Back to Overview   <i class="fas fa-undo"></i></a>

<table class="table table-striped table-dark table-responsive-sm table-bordered text-center col-md-8 offset-md-2">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Customer Name</th>
            <th>Panel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Username</td>
            <td>@Model.PanelName</td>
        </tr>
    </tbody>
</table>

<a type="button" class="btn btn-success btn-lg p-1 col-md-6 offset-md-3 mb-3" href="/Receipts/Create" >Create Receipt <i class="far fa-share-square"></i></a>

<table class="table table-dark table-striped table-sm table-responsive-sm table-bordered text-center col-md-8 offset-md-2">
    <thead>
        <tr class="text-center">
            <th scope="col" rowspan="2">1st Dimension</th>
            <th scope="col" rowspan="2">2nd Dimension</th>
            <th scope="col" rowspan="2">Quantity</th>
            <th scope="col" rowspan="2">Rotation</th>
            <th scope="col" rowspan="2"></th>
            <th scope="col" rowspan="2"></th>
            <th scope="col" colspan="2">1st Dimension</th>
            <th scope="col" colspan="2">2nd Dimension</th>
            <th scope="col" rowspan="2">Additional</th>
        </tr>

        <tr>
            <th scope="col">1st Edge</th>
            <th scope="col">2nd Edge</th>
            <th scope="col">1st Edge</th>
            <th scope="col">2nd Edge</th>
        </tr>
    </thead>
    <tbody id="dimensionList">

        @foreach (var item in ViewBag.Dimensions)
        {
             <tr>
                 <td id="FirstDimension">@item.FirstDimension </td>
                 <td id="SecondDimension">@item.SecondDimension </td>
                 <td id="Quantity">@item.Quantity </td>
                 <td id="Rotation">
                    @if (@item.Rotation)
                    {
                        <span>1</span>
                    }
                    else
                    {
                        <span>0</span>
                    }

                 </td>
                 <td></td>
                 <td></td>
                 <td id="FirstDimensionFE">@item.FirstDimFirstEdge</td>
                 <td id="FirstDimensionSE">@item.FirstDimSecondEdge</td>
                 <td id="SecondDimensionFE">@item.SecondDimFirstEdge</td>
                 <td id="SecondDimensionSE">@item.SecondDimSecondEdge</td>
                 <td id="Additional">@item.AdditionalProcessing</td>
             </tr>
         }
           
        </tbody>
</table>